body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-image: url(background-1.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    background-color: white;
    width: 100%;
    height: 70px;
    opacity: 0.9;
}

.logo-icon {
    width: 90px;
    margin-left: 10px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #8a5b7b;
    opacity: 0.8;
}

.nav-icons {
    display: none;
}

.nav-links {
    display: none;
}

#burger-menu-icon {
    width: 40px;
    margin-right: 20px;
    margin-top: 5px;
    filter: brightness(0) saturate(100%) invert(42%) sepia(8%) saturate(1942%) hue-rotate(266deg) brightness(89%) contrast(82%);
}

.nav-menu {
    background-color: #8a5b7b;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    top: 70px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
}

.burger-menu a {
    text-decoration: none;
    border-bottom: solid #ffffff;
    padding: 20px;
    color: white;
}

button {
    cursor: pointer;
    border: 0;
    background-color: white;
    height: 100%;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.social-icons {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(244deg) brightness(112%) contrast(101%);
    display: flex;
    gap: 10px;
    margin: 5px;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
}

.header-container {
    width: 100%;
}

.header-container p {
    margin: 5px;
    font-size: 1.5rem;
}

h1 {
    margin: 5px;
    font-size: 3.5rem;
}

h2 {
    margin: 5px;
    font-size: 1.7rem;
}

span {
    text-decoration: underline;
}

.bitmoji {
    width: 90%;
    position: absolute;
    right: 0;
}

@media screen and (min-width: 400px) {
    body {
        height: 100vh;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    .header-container p {
        font-size: 2rem;
    }
    .bitmoji {
        position: absolute;
        bottom: 0;
        width: 30%;
    }
    #burger-menu-icon {
        display: none;
    }
    nav {
        height: 80px;
    }
    .logo-icon {
        width: 120px;
    }
    .nav-links {
        display: block;
        font-size: 2rem;
    }
    .nav-links a {
        text-decoration: none;
        color: #8a5b7b;
        margin-right: 20px;
    }
    .social-icons img {
        width: 50px;
    }
    .nav-links a:hover {
        text-shadow: 0 0 5px #8a5b7b;
    }
    .social-icons img:hover {
        filter: drop-shadow(0 0 5px white);
    }
}