body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-image: url(background-1.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    background-color: white;
    width: 100%;
    height: 70px;
    opacity: 0.9;
}

.logo-icon {
    width: 90px;
    padding-left: 10px;
}

.nav-icons {
    display: none;
}

#burger-menu-icon {
    width: 40px;
    padding-right: 20px;
    padding-top: 5px;
    filter: brightness(0) saturate(100%) invert(42%) sepia(8%) saturate(1942%) hue-rotate(266deg) brightness(89%) contrast(82%);
}

button {
    cursor: pointer;
    border: 0;
    background-color: white;
    height: 100%;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    margin-top: 100px;
}

.social-icons {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(244deg) brightness(112%) contrast(101%);
    display: flex;
    gap: 10px;
    margin: 5px;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
}

.header-container {
    width: 280px;
}

.header-container p {
    margin: 5px;
    font-size: 1.25rem;
}

h1 {
    margin: 5px;
    font-size: 3.5rem;
}

h2 {
    margin: 5px;
    font-size: 1.6rem;
}

span {

}

@media screen and (min-width: 500px) {

}